.scrollToTop {
  position: fixed;
  bottom: 80px;
  right: 28px;
  background-color: #457b9d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 10000;
  transition: background-color 0.3s ease;
}

.scrollToTop:hover {
  background-color: #355e7b;
}
